LLM_PORT=8080
PREFER_MODEL_VOLUME=prefer-model-cache
AUDIO_PORT=8081
PREFER_AUDIO_MODEL_VOLUME=prefer-audio-model-cache
PREFER_AUDIO_VOICE_VOLUME=prefer-audio-voices
AUDIO_SERVER_CONFIG=
AUDIO_PRESTAGE_MODELS=
AUDIO_DEPLOYMENT=
AUDIO_BUNDLE=
AUDIO_MODELS=
AUDIO_SERVER_OVERRIDES=
AUDIO_MODEL_OVERRIDES=
AUDIO_DOWNLOAD_JOBS=4
IMAGE_PORT=8082
PREFER_IMAGE_MODEL_VOLUME=prefer-image-model-cache
IMAGE_SERVER_CONFIG=
IMAGE_PRESTAGE_MODELS=
IMAGE_DEPLOYMENT=
IMAGE_BUNDLE=
IMAGE_MODELS=
IMAGE_SERVER_OVERRIDES=
IMAGE_MODEL_OVERRIDES=
IMAGE_DOWNLOAD_JOBS=4
SGLANG_PORT=8083
PREFER_SGLANG_MODEL_VOLUME=prefer-model-cache
PREFER_SGLANG_VIDEO_INPUT_VOLUME=prefer-sglang-video-inputs
PREFER_SGLANG_VIDEO_OUTPUT_VOLUME=prefer-sglang-video-output
SGLANG_SERVER_CONFIG=
SGLANG_PRESTAGE_MODELS=
SGLANG_DEPLOYMENT=
SGLANG_BUNDLE=
SGLANG_MODELS=
SGLANG_SERVER_OVERRIDES=
SGLANG_MODEL_OVERRIDES=
SGLANG_DOWNLOAD_JOBS=4
SGLANG_VIDEO_MAX_INPUT_BYTES=1073741824
SGLANG_READY_DELAY_SECONDS=2
SGLANG_READY_PROBE_SECONDS=2
SGLANG_S3_BUCKET_NAME=
SGLANG_S3_MODEL_PREFIX=
VLLM_PORT=8084
PREFER_VLLM_MODEL_VOLUME=prefer-model-cache
VLLM_SERVER_CONFIG=
VLLM_PRESTAGE_MODELS=
VLLM_DEPLOYMENT=
VLLM_BUNDLE=
VLLM_MODELS=
VLLM_SERVER_OVERRIDES=
VLLM_MODEL_OVERRIDES=
VLLM_DOWNLOAD_JOBS=4
VLLM_S3_BUCKET_NAME=
VLLM_S3_MODEL_PREFIX=
LLAMA_ARG_MODELS_PRESET=
LLAMA_ARG_MODELS_MAX=1
LLAMA_DEPLOYMENT=
LLAMA_BUNDLE=
LLAMA_MODELS=
LLAMA_SERVER_OVERRIDES=
LLAMA_MODEL_OVERRIDES=
PRESTAGE_MODELS=
S3_BUCKET_NAME=
S3_MODEL_PREFIX=
HF_TOKEN=
HF_HUB_DISABLE_XET=
HF_XET_HIGH_PERFORMANCE=
HF_XET_FIXED_DOWNLOAD_CONCURRENCY=
HF_XET_DATA_MAX_CONCURRENT_FILE_DOWNLOADS=
HF_XET_RECONSTRUCTION_DOWNLOAD_BUFFER_SIZE=
HF_XET_RECONSTRUCTION_DOWNLOAD_BUFFER_PERFILE_SIZE=
HF_XET_RECONSTRUCTION_DOWNLOAD_BUFFER_LIMIT=
